{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<div class="row">
							<div class="12u">

								<!-- Blog -->
									<section>
										<header class="major">
											<h2>Derniers articles</h2>
										</header>
										<div class="row">
											{% for article in articles %}
													<div class="6u 12u(mobile)">
														<section class="box">
															<a href="#" class="image featured">
		                            {% image '@PortfolioBundle/Resources/public/images/pic08.jpg' %}
		                                <img src="{{ asset_url }}" alt="" />
		                            {% endimage %}
		                          </a>
															<header>
																<h3>{{ article.name }}</h3>
																<p>Posted 45 minutes ago</p>
															</header>
															<p>{{ article.content }}</p>
															<footer>
																<ul class="actions">
																	<li><a href="{{ path('portfolio_article', {'id': 1}) }}" class="button icon fa-file-text">Voir plus</a></li>
																	<li><a href="#" class="button alt icon fa-comment">33 comments</a></li>
																</ul>
															</footer>
														</section>
													</div>
													{% endfor %}
												</div>
									</section>
							</div>
						</div>
{% endblock %}
